{% extends "base.html" %}



{% block title %}Логин | {% endblock %}

{% block content %}

<div class="min-h-full flex flex-col py-8 lg:py-12 sm:px-6 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-bold text-gray-700">Логин</h2>
    </div>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button
                    class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-400"
                    type="submit">Войти</button>
            </form>
            <div class="flex justify-between mt-8">
                <a href="{{ signup_url }}" class="py-2 font-medium text-amber-600 hover:text-amber-500 focus:outline-none focus:text-amber-500">Регистрация</a>
                <a class="py-2 font-medium text-amber-600 hover:text-amber-500 focus:outline-none focus:text-amber-500"
                    href="{% url 'account_reset_password' %}">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}