{% extends "base.html" %}



{% block title %}Сброс пароля | {% endblock %}

{% block content %}

    <div class="min-h-full flex flex-col py-8 lg:py-12 sm:px-6 lg:px-8">

        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl font-bold text-gray-700">Сброс пароля</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
            <p class="mt-6 text-center font-medium text-gray-600">Мы отправили ссылку для сброса пароля на ваш email</p>
    </div>

{% endblock %}