{% extends 'base.html' %}
{% load static %}
{% block title %}{{ excursion.name }} | {% endblock title %}

{% block content %}
<div class="w-full bg-center bg-cover h-64 lg:h-80"
    style="background-image: url('/media/{{excursion.first_image.image}}');">
    <div class="w-full h-full bg-gray-900 bg-opacity-50 flex items-center">
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8 lg:text-center">
            <h1 class="text-4xl font-bold text-amber-400 lg:text-5xl">{{ excursion.name }}</h1>
        </div>
    </div>
</div>

<div class="max-w-prose px-2 sm:px-4 lg:px-8">
    {{ excursion.description|safe }}
</div>


{% endblock content %}